@model List<CzytnikRSS.RssService.Source>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/test.js" type="text/javascript"></script>

<div class="main">

    <p class="clock" id="clock"></p>

    <div class="modal-title">
        <h1 class="h1">Linki do stron RSS:</h1>
    </div>
    <hr class="hr" />
    <div class="container-fluid">
        <div class="row">
            @foreach (var Strona in Model.ToList())
            {
                <div class="col-xs-6">
                    <p class="text">
                        @Html.ActionLink(Strona.link, "PokazStrony", "Home", new { link = Strona.link }, new { @class = "tekst" })
                    </p>
                </div>
            }
        </div>
    </div>
</div>