@Model List<CzytnikRSS.Models.Site>

@{
	ViewBag.Title = "Home Page";
}


@foreach (var Strona in Model)
{
	<h1>@Strona.title</h1>
	<h2>@Strona.description</h2>
	<h3>@Strona.pubDate</h3>
	<h4>@Strona.link</h4>
}


