@Model List<CzytnikRSS.Source>

@{
	ViewBag.Title = "Home Page";
}


@foreach (var Strona in Model)
{
	<h1 id="@Strona.id" onclick="WyswietlWybrany(this.id)">@Strona.link</h1>
}


<script>

    function WyswietlWybrany(id)
    {
        alert(id);
    }


</script>