@model List<CzytnikRSS.RssService.RssItem>


<div class="main">
    <div class="modal-title">
        <h1 class="h1">Pokaz Strony:</h1>
    </div>
    <hr class="hr" />

    @foreach (var Strona in Model)
    {
        <h3 class="h3">
            @Strona.title
        </h3>
        <h5 class="h5">
            @Strona.pubDate
        </h5>
        <h4 class="h4">
            @Html.Raw(Strona.description)
        </h4>
        <hr />
    }
</div>


<style>
    .h3 {
        color: rgba(0,0,20,0.8);
        font-size: 30px;
        font-family: 'Signika', sans-serif;
        padding-bottom: 10px;
        text-decoration: underline;
    }

    .h4 {
        color: black;
    }

    .main {
        background-image: url('../../obrazki/background-08.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        padding-top: 40px;
        padding-bottom: 0px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .tekst {
        color: black;
    }

    .col-xs-6 {
        font-size: 22px;
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }

    .modal-title {
        text-align: center;
    }

    .h1 {
        font-size: 36px;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }

    .row {
        text-align: center;
    }

    .hr {
        overflow: visible;
        height: 30px;
        border-style: solid;
        border-color: white;
        border-width: 1px 0 0 0;
        border-radius: 20px;
    }

        .hr:before {
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: white;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }
</style>


