@model List<CzytnikRSS.RssService.RssItem>

<script src="~/Scripts/test.js" type="text/javascript"></script>


<div class="main2">

    <p class="clock" id="clock"></p>
    <div class="modal-title">
        <h1 class="h1">Pokaz Strony:</h1>
    </div>
    <hr class="hr" />

    @foreach (var item in Model)
    {
        <h3 class="h3">
            @item.title
        </h3>
        <h5 class="h5">
            @item.pubDate
        </h5>
        <h4 class="h4">
            @Html.Raw(item.description)
        </h4>
        <hr />
    }
</div>




